= content_tag "div", id: "stop", data:{id:@stop.stop_id, code:@stop.stop_code, lat:@stop.stop_lat, lon:@stop.stop_lon} do

  #map

  #schedule{ :"data-service-id" => "#{@trip_day}", :"data-day" => "#{Date.current.in_time_zone.to_i}" }
    Loading schedule for #{Date.current.strftime "%m/%d/%Y"}...

  = javascript_include_tag 'stops'
