#stop{:"data-id"=>"#{@stop.stop_id}", :"data-code"=>"#{@stop.stop_code}", :"data-lat"=>"#{@stop.stop_lat}", :"data-lon"=>"#{@stop.stop_lon}"}
  
  .row
    %h2
      %span
        = "Bus stop #{@stop.stop_code}"
      %small
        = @stop.stop_name

  .row
    #map

  %h3
    = "Arrival Times for #{Date.current.in_time_zone.strftime '%m/%d/%y'}"
    .pull-right.hidden-xs
      %button.btn.btn-primary#nearest-arrival Show upcoming arrivals

  #schedule.row{ :"data-service-id" => "#{@trip_day}", :"data-day" => "#{Date.current.in_time_zone.to_i}" }
    Loading schedule for #{Date.current.strftime "%m/%d/%Y"}...

  = javascript_include_tag 'stops'
