#stop{:"data-id"=>"#{@stop.stop_id}", :"data-code"=>"#{@stop.stop_code}", :"data-lat"=>"#{@stop.stop_lat}", :"data-lon"=>"#{@stop.stop_lon}"}

  #map.row

  %h3
    Arrival Times
    .pull-right.hidden-xs
      %button.btn.btn-primary#nearest-arrival Jump to nearest arrival

  #schedule.row{ :"data-service-id" => "#{@trip_day}", :"data-day" => "#{Date.current.in_time_zone.to_i}" }
    Loading schedule for #{Date.current.strftime "%m/%d/%Y"}...

  = javascript_include_tag 'stops'
